.ModalN__container *, .ModalN__container *::before, .ModalN__container *::after{
    box-sizing: border-box;
}
.ModalN__container{
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      background:#e6e6e68a;
      opacity: 1;
      visibility: visible;
      cursor: pointer;
      transition: transform .2s ease, -webkit-transform .2s ease;
      overflow-y: scroll;
      padding-top: 8vh;
      

}
.ModalN__container__cont{
    position: relative;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 95%;
    border-radius: 10px;
    background: #fff;
    opacity: 1;
    cursor: auto;
    transition: transform .3s cubic-bezier(.175, .885, .32, 1.275), -webkit-transform .3s cubic-bezier(.175, .885, .32, 1.275);
    transform: scale(1);
    max-width: 980px;
    overflow: hidden;

}
@media screen and (min-width: 767px){
    .ModalN__container__cont{
        width: 75%;
    }
}
.ModalN__container__closeButton{
    position: absolute;
    right: 13px;
    top: 10px;
    background: url(../../../assets/images/icons/icon-close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 23px;
    height: 23px;
    font-size: 0px;
    border: 0px;
    z-index: 99;
    cursor: pointer;

}
.ModalN__container__box__content{
    padding: 1rem 1rem;
}
@media screen and (min-width: 767px){
    .ModalN__container__box__content{
        padding: 1.8rem 1.8rem;
    }
}



